<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">

	<title>SK PMA - Register Org</title>
	<meta content="" name="description">
	<meta content="" name="keywords">

	<!-- Favicons -->
	<link th:href="@{/assets/Images/favicon.png}" rel="icon">
	<link href="@{/assets/Images/apple-touch-icon.png}" rel="apple-touch-icon">

	<!-- Google Fonts -->
	<link href="https://fonts.gstatic.com" rel="preconnect">
	<link
		href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
		rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
	<link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link th:href="@{/assets/css/style.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/assets/libs/js/jquery-3.6.0.min.js}"></script>

	<!-- Vendor JS Files -->
	<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
	<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
	<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
	<script th:src="@{/assets/vendor/quill/quill.js}"></script>
	<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
	<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
	<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

	<!-- Template Main JS File -->
	<script type="text/javascript" th:src="@{/assets/js/main.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/OrgRegister.js}"></script>
	<!-- =======================================================
  * Template Name: NiceAdmin
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Updated: Apr 20 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

	<main>
		<div class="container">

			<section
				class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

							<div class="d-flex justify-content-center py-4">
								<a href="index.html" class="logo d-flex align-items-center w-auto">
									<img th:src="@{/assets/Images/sk_logo2.png}" alt="">
								</a>
							</div><!-- End Logo -->

							<div class="card mb-3">

								<div class="card-body">

									<div class="pt-4 pb-2">
										<h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
										<p class="text-center small">Enter your personal details to create account</p>
									</div>

									<form class="row g-3 needs-validation" th:action="@{register}"
										onsubmit="return validateData()" method="post" novalidate>

										<div class="col-12 alert alert-danger" th:if="${error!=null}" style="text-align: center;">
											<div th:text="${error}"></div>
										</div>

										<div class="col-12">
											<label for="yourName" class="form-label">Company Name</label>
											<input type="text" name="name" class="form-control" id="yourName"
												value="SK INTERNATIONAL" disabled>
											<div class="invalid-feedback">Please, enter your name!</div>
										</div>

										<!-- For Non-Error -->
										<div class="col-12" th:if="${inputUsernameErr} == null">
											<label for="inputUsername" class="form-label">Username</label>
											<div class="input-group has-validation">
												<span class="input-group-text" id="inputGroupPrepend">@</span>
												<input type="text" name="inputUsername" maxlength="30" th:value="${inputUsernameVal != null ? inputUsernameVal : ''} "
													class="form-control" id="inputUsername" required>
													<br />
											</div>
											
											<div class="invalid_username" th:if="${inputUsernameErr}==null" th:text="${inputUsernameErr}" style="color:red;"></div>
										</div>
										
										<!-- For Error -->
										<div class="col-12" th:if="${inputUsernameErr} != null">
											<label for="inputUsername" class="form-label">Username</label>
											<div class="input-group has-validation" >
												<span class="input-group-text" id="inputGroupPrepend">@</span>
												<input type="text" name="inputUsername" maxlength="30" th:value="${inputUsernameVal != null ? inputUsernameVal : ''} "
													class="form-control" style="border-color : red;"  id="inputUsername" required>
													<br />
											</div>
											
											<div class="invalid_username" th:if="${inputUsernameErr}!=null" th:text="${inputUsernameErr}" style="color:red;"></div>
										</div>
										
										<!-- Non-Error Email -->
										<div class="col-12" th:if="${inputEmailErr}==null">
											<label for="inputEmail" class="form-label">Your Work Email</label>
											<input type="email"  th:value="${inputEmailVal != null ? inputEmailVal : ''}" name="inputEmail" class="form-control" id="inputEmail"
												 required>
											<div class="invalid_email" style="color:red;"></div>
										</div>

										<!-- Error Email -->
										<div class="col-12" th:if="${inputEmailErr}!=null">
											<label for="inputEmail" class="form-label">Your Work Email</label>
											<input type="email"  th:value="${inputEmailVal != null ? inputEmailVal : ''}" style="border-color: red;" name="inputEmail" class="form-control" id="inputEmail"
												 required>
											<div class="invalid_email" th:if="${inputEmailErr}!=null" th:text="${inputEmailErr}" style="color:red;"></div>
										</div>

										<!-- Non-Error Password -->
										<div class="col-12" th:if="${inputPasscodeErr}==null">
											<label for="inputPasscode" class="form-label">Password</label>
											<input type="password" autocomplete="off" name="inputPasscode" 
												class="form-control" id="inputPasscode" th:if="${inputConfPasscodeErr}==null" th:value="${inputPasscodeVal != null ? inputPasscodeVal : ''}" required>
											<input type="password" autocomplete="off" name="inputPasscode" 
												class="form-control" id="inputPasscode" style="border-color: red;" th:if="${inputConfPasscodeErr!=null}" th:value="${inputPasscodeVal != null ? inputPasscodeVal : ''}" required>
											<div class="invalid_password" style="color:red;"></div>
										</div>

										<!-- Error Password -->
										<div class="col-12" th:if="${inputPasscodeErr}!=null">
											<label for="inputPasscode" class="form-label">Password</label>
											<input type="password" style="border-color: red;" autocomplete="off" name="inputPasscode"
												class="form-control" id="inputPasscode" th:value="${inputPasscodeVal != null ? inputPasscodeVal : ''}" required>
											<div class="invalid_password" style="color:red;" th:text="${inputPasscodeErr}"></div>
										</div>

										<!-- Non-Error inputConfPasscodeErr -->
										<div class="col-12" th:if="${inputConfPasscodeErr}==null">
											<label for="inputConfPasscode" class="form-label">Confirm Password</label>
											<input type="password" autocomplete="off" name="inputConfPasscode"
												class="form-control" id="inputConfPasscode" th:value="${inputConfPasscodeVal != null ? inputConfPasscodeVal : ''}" required />
											<div class="invalid_conf_password" style="color:red;"></div>
										</div>

										<!-- Error inputConfPasscodeErr -->
										<div class="col-12" th:if="${inputConfPasscodeErr}!=null">
											<label for="inputConfPasscode" class="form-label">Confirm Password</label>
											<input type="password" style="border-color: red;" autocomplete="off" name="inputConfPasscode"
												class="form-control" id="inputConfPasscode" th:value="${inputConfPasscodeVal != null ? inputConfPasscodeVal : ''}" required />
											<div class="invalid_conf_password" th:text="${inputConfPasscodeErr}" style="color:red;"></div>
										</div>

										<!-- Terms Non Error -->
										<div class="col-12" th:if="${termsErr} == null">
											<div class="form-check">
												<input class="form-check-input" name="terms" type="checkbox" value="checked" th:if="${termsVal} == null"
													id="acceptTerms" required>
													<input class="form-check-input" name="terms" type="checkbox" value="checked" checked th:if="${termsVal} != null"
													id="acceptTerms" required>
												<label class="form-check-label" for="acceptTerms">I agree and accept the
													<a href="#">terms and conditions</a></label>
												<div class="invalid-terms"></div>
											</div>
										</div>
										
										<!-- Terms Error -->
										<div class="col-12" th:if="${termsErr} != null">
											<div class="form-check">
												<input class="form-check-input" name="terms" type="checkbox" value="checked"
													id="acceptTerms" style="border-color: red;" required>
												<label class="form-check-label" for="acceptTerms">I agree and accept the
													<a href="#">terms and conditions</a></label>
												<div class="invalid-terms" style="color:red;">Please read and accept the terms and conditions.</div>
											</div>
										</div>



										<div class="col-12">
											<button class="btn btn-primary w-100 reg" type="submit">Create
												Account</button>
										</div>

										<div class="col-12">
											<p class="small mb-0">Already have an account? <a
													href="pages-login.html">Log in</a></p>
										</div>
									</form>

								</div>
							</div>

							<div class="credits">
								<!-- All the links in the footer should remain intact. -->
								<!-- You can delete the links only if you purchased the pro version. -->
								<!-- Licensing information: https://bootstrapmade.com/license/ -->
								<!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
								Designed by <a href="https://www.skinternational.com/" target="_blank">SK
									International</a>
							</div>
						</div>
					</div>
				</div>

			</section>

		</div>
	</main><!-- End #main -->

	<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
			class="bi bi-arrow-up-short"></i></a>

</body>

</html>