<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8" >
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<link rel="icon" th:href="@{/assets/Images/favicon.png}" type="image/x-icon" />
	<title>SK PMA - Reset</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Bootstrap Core and vandor -->

	<link rel="stylesheet" th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" />
	<!-- Core css -->
	<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/theme1.css}" />

</head>

<body class="font-montserrat">
	<div class="auth">
		<div class="auth_left">
			<div class="card">
				<div class="text-center mb-2">
					<a class="header-brand" th:href="@{/login}"><img th:src="@{/assets/Images/sklogo.svg}"
							class="img-fluid" alt="" /></a>
				</div>
				<div class="mb-4">
					<div class="row">
						<div class="col-12 col-sm-12 col-8 main-section">
							<h3 class="text-center text-inverse pt-2 pb-4">Reset Password</h3>
								<div class="alert alert-danger" th:if="${error != null}" th:text="${error}">
									Error Will be Displayed here
								</div>
								<div class="alert alert-danger" th:if="${inputPasscodeErr} != null and ${error == null}" th:text="${inputPasscodeErr}">
									Error Will be Displayed here
								</div>
								<div class="alert alert-danger" th:if="${confPassCodeError} != null and ${error == null}" th:text="${confPassCodeError}">
									Error Will be Displayed here
								</div>
							<form class="container" id="needs-validation" 
								th:action="@{/login/forgotPassword/reset}" method="post" onsubmit="return validateFormData()">
								<input type="hidden" th:value="${userEmail}" name="hiddenEmail" id="hiddenEmail" />
								<div class="row">									
									<div  class="alert alert-danger col-md-12 col-sm-12 col-12" 
										style="text-align: center;" th:if="${errorMsg}!=null">
										<b><span th:text="${errorMsg}">Internal Server Error</span></b>
									</div>
									<div  class="alert alert-success col-md-12 col-sm-12 col-12" th:if="${param.success}"
										style="text-align: center;">
										<span id="success-span" th:text="${param.success}"></span>
									</div>
									
									<div class="col-md-12 col-sm-12 col-12">
										<div class="form-group">
											<label class="form-label" for="password">Password</label>
											<input type="password" class="form-control" name="password"  id="password"
												placeholder="Enter Password" >
											<div class="invalid_password" style="color: red;"></div>
										</div>
									</div>
									<div class="col-lg-12 col-sm-6 col-12">
										<div class="form-group">
											<label class="form-label" style="display: block;"
												for="conf_password">Confirm Password </label>
											<input type="password" class="form-control" id="conf_password"
												placeholder="Enter Confirm Password" name="confirmPassword" >
											<div class="invalid_conf_password" style="color: red;"></div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12 col-sm-12 col-12 text-center">
										<button class="btn btn-primary w-100 reg" style="width:100%;"
											type="submit">Reset</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="auth_right full_img"></div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script th:src="@{/assets/bundles/lib.vendor.bundle.js}"></script>
	<script th:src="@{/assets/js/core.js}"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

	<script id="rendered-js">
		
		function validateFormData() {
			let passwordValidation = validatePassword();
			let confirmPassValidation = validateConfirmPassword();
			let errorStr = "";
			
			if(passwordValidation !== true) {
				$("#password").css("border-color", "red");
				$(".invalid_password").text(passwordValidation);
				errorStr = errorStr + "error ";
			} else {
				$("#password").css("border-color", "#E8E9E9");
				$(".invalid_password").text("");
			}
			
			if(confirmPassValidation === "Confirm Password cannot be blank") {
				$("#conf_password").css("border-color", "red");
				$(".invalid_conf_password").text(confirmPassValidation);
				errorStr = errorStr + "error ";
			} else if(confirmPassValidation === "Password and Confirm Password not matching") {
				$("#conf_password").css("border-color", "red");
				$("#password").css("border-color", "red");
				$(".invalid_conf_password").text(confirmPassValidation);
				errorStr = errorStr + "error ";
			} else {
				$("#password").css("border-color", "#E8E9E9");
				$("#conf_password").css("border-color", "#E8E9E9");
				$(".invalid_password").text("");
			}
			
			if(errorStr.includes("error")) {
				return false;
			} else {
				return true;
			}
			
		}
		
		function validateConfirmPassword() {
			let userConfPasscode = $("#conf_password").val().trim();
			let userPasscode = $("#password").val().trim();
			console.log("password: "+userPasscode);
			console.log("conf password: "+userConfPasscode);
			if(userConfPasscode === "") {
				return "Confirm Password cannot be blank";
			} else if(userConfPasscode !== userPasscode) {
				return "Password and Confirm Password not matching";
			} else {
				return true;
			}
		}
		
		function validatePassword() {
			let userPasscode = $("#password").val().trim();
			let passRegExp = new RegExp(/^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+{}\[\]:;"'.,<>?/~`|\\-])(?!.*\s).{10,}$/);
			if(userPasscode === "") {
				return "Password cannot be blank";
			} else if(!passRegExp.test(userPasscode)) {
				return "password must contain one upper-case, special character and numeric and must be atleast 10 characters";
			} else {
				return true;
			}
		}
		
		$(document).ready(function(){
			//store email in sessionStorage
			$("#hiddenEmail").val(sessionStorage.getItem("userEmail"));
			
			$("#password").on("change", function(){
				let passwordValidation = validatePassword();
				let confPass = $("#conf_password").val().trim();
				let password = $("#password").val().trim();
				
				if(passwordValidation !== true) {
					$("#password").css("border-color", "red");
					$(".invalid_password").text(passwordValidation);
				} else if(confPass != "") {
					if(confPass !== password) {
						$("#conf_password").css("border-color", "red");
						$("#password").css("border-color", "red");
						$(".invalid_conf_password").text("Password and Confirm Password not matching");
					} else {
						$("#password").css("border-color", "#E8E9E9");
						$("#conf_password").css("border-color", "#E8E9E9");
						$(".invalid_conf_password").text("");
						$(".invalid_password").text("");
					}
				} else if(confPass === password) {
					$("#password").css("border-color", "#E8E9E9");
					$("#conf_password").css("border-color", "#E8E9E9");
					$(".invalid_conf_password").text("");
					$(".invalid_password").text("");
				}
				else {
					
					alert("In else of RESET");
					$(".invalid_password").text("");
					$("#password").css("border-color", "#E8E9E9");
				}
				
			});
			
			$("#conf_password").on("change", function(){
				let confirmPassValidation = validateConfirmPassword();
				if(confirmPassValidation === "Confirm Password cannot be blank") {
					$("#conf_password").css("border-color", "red");
					$(".invalid_conf_password").text(confirmPassValidation);
				} else if(confirmPassValidation === "Password and Confirm Password not matching") {
					$("#conf_password").css("border-color", "red");
					$("#password").css("border-color", "red");
					$(".invalid_conf_password").text(confirmPassValidation);
				} else {
					$("#password").css("border-color", "#E8E9E9");
					$("#conf_password").css("border-color", "#E8E9E9");
					$(".invalid_conf_password").text("");
				}
			});
		});
		
	</script>
</body>
</html>